/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Description */

/* 1. Header */
/* 2. hero-block */
/* 3. language-block */
/* 4. learn-block */
/* 5. Trial */
/* 6. stocks-block */
/* 7. Team */
/* 8. programs-block */
/* 9. cost-block */
/* 10.footer */

@media(max-width:1420px){

  /* POPUP */
  .header__popup {
    position: relative;
    padding: 59px 59px 0px;
    width: 50.9%;
    height: 750px;
    top: 80px;
    left: 25.8%;
    z-index: 1000;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #121723;
    border-radius: 0px;
    border: none;
    z-index: 100;
  }
  .header__form {
    margin-bottom: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 29px;
    border-bottom: 1px solid rgb(251 100 2);
  }
  .header__modal-description {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
  }
  .header__submit {
    width: 35%;
    height: 68px;
    border-radius: 36px;
    background-color: #fb6402;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
  }
  
  /* 2. hero-block */
  
  .hero__heading {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 700;
  }
  .hero__text {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
  }
  
  /* 5. Trial */
  
  .trial__block-img{
    height: 75%;
  }
  
  /* 4. learn-block */
  
  .learn__block-step:nth-child(2){
    margin-right: 0;
    margin-bottom: 30px;
  }
  .learn__block-step:nth-child(1){
    margin-bottom: 30px;
  }
  .learn__block-step {
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 20px;
    text-align: center;
    width: 47%;
    border: 1px solid #fe6702;
    border-radius: 15px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .footer__modal-description {
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #fb6402;
  }
  }
  @media(max-width:1200px){
  /* 1. Header */
  
  .header__nav-link{
    font-size: 11px;
  }
  .header__phone{
    font-size: 12px;
  }
  .header__nav-btn.btn-success{
    font-size: 12px;
  }
  
  .header__nav-item:not(:last-child) {
    margin-right: 10px;
  }
  
   /* POPUP */
   .header__popup {
    position: relative;
    padding: 59px 59px 0px;
    width: 50.9%;
    top: 80px;
    left: 25.8%;
    z-index: 1000;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #121723;
    border-radius: 0px;
    border: none;
    z-index: 100;
  }
  .header__form {
    margin-bottom: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 29px;
    border-bottom: 1px solid rgb(251 100 2);
  }
  .header__modal-description {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
  }
  .header__submit {
    width: 40%;
    height: 68px;
    border-radius: 36px;
    background-color: #fb6402;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
  }
  .footer__modal-description {
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #fb6402;
  }
  
  }
  @media(max-width:1024px){
  
  /* 1. Header */
  
  .header__nav-link {
    background-image: -webkit-gradient( linear, left top, right top, from(#d8d8d8), color-stop(50%, #d8d8d8), color-stop(50%, #333) );
    background-image: -o-linear-gradient( left, #d8d8d8, #d8d8d8 50%, #333 50% );
    background-image: linear-gradient( to right, #d8d8d8, #d8d8d8 50%, #333 50% );
  }
  .header__phone {
    background-image: -webkit-gradient( linear, left top, right top, from(#d8d8d8), color-stop(50%, #d8d8d8), color-stop(50%, #333) );
    background-image: -o-linear-gradient( left, #d8d8d8, #d8d8d8 50%, #333 50% );
    background-image: linear-gradient( to right, #d8d8d8, #d8d8d8 50%, #333 50% );   
  }
  .header__contacts{
    display: none;
  }
  .header__nav-link {
    font-size: 20px;
    background-image: -webkit-gradient( linear, left top, right top, from(#d8d8d8), color-stop(50%, #d8d8d8), color-stop(50%, #fff) );
    background-image: -o-linear-gradient( left, #d8d8d8, #d8d8d8 50%, #fff 50% );
    background-image: linear-gradient( to right, #d8d8d8, #d8d8d8 50%, #fff 50% );
  }
  .header__phone {
    font-size: 20px;
  }
  #menu__toggle {
    opacity: 0;
  }
  
  .header__menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    -webkit-box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
            box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
    background: rgb(51 40 54 / 100%);
  }
        
  #menu__toggle:checked ~ .header__menu-btn > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .header__menu-btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
  #menu__toggle:checked ~ .header__menu-btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .header__menu-box {
    visibility: visible;
    left: 0;
  }
  
  .header__menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
        
  .header__menu-btn > span,
  .header__menu-btn > span::before,
  .header__menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
  }
  .header__menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .header__menu-btn > span::after {
    content: '';
    top: 8px;
  }
  
  .header__menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
  }
  
   /* POPUP */
   .header__popup {
    position: relative;
    padding: 30px 30px 0px;
    width: 64.9%;
    height: 800px;
    top: 80px;
    left: 18.8%;
    z-index: 1000;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #121723;
    border-radius: 0px;
    border: none;
    z-index: 100;
  }
  .header__form {
    margin-bottom: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 29px;
    border-bottom: 1px solid rgb(251 100 2);
  }
  .header__modal-description {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
  }
  .header__submit {
    width: 40%;
    height: 68px;
    border-radius: 36px;
    background-color: #fb6402;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
  }
  
  /* 2. hero-block */
  
  .hero__block {
    top: 134px;
    left: 80px;
  }
  
  /* 3. language-block */
  
  .language_item {
    width: 18%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
  }
  .language__section {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 0px;
  }
  
  /* 4. learn-block */
  
  .learn__block-step:nth-child(2){
    margin-right: 0;
    margin-bottom: 30px;
  }
  .learn__block-step:nth-child(1){
    margin-bottom: 30px;
  }
  .learn__block-step {
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 20px;
    text-align: center;
    width: 47%;
    border: 1px solid #fe6702;
    border-radius: 15px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  /* 5. Trial */
  
  .trial__block-img{
    height: 61%;
  }
  
  /* 8. programs-block */
  
  .programs__column {
    width: 47%;
  }
  .programs__column:nth-child(1){
    margin-bottom: 30px;
  }
  .programs__column:nth-child(2){
    margin-bottom: 30px;
  }
  
  /* 9. cost-block */
  
  .cost__block-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cost__column {
    padding: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 47%;
    text-align: center;
    border: 1px solid #fe6702;
    border-radius: 15px;
  }
  .cost__column{
    margin-bottom: 30px;
  }
  .footer__modal-description {
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #fb6402;
  }
  }
  @media(max-width:990px){
  
  /* 2. hero-block */
  
  .hero__block {
    position: absolute;
    top: 130px;
    left: 66px;
    z-index: 1;
    padding: 10px 69px 10px 10px;
    border-radius: 30px;
    background: rgb(51 40 54 / 50%);
  }
  .hero__heading {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
  }
  .hero__text {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
  }
  
  .swiper-button-next, .swiper-button-prev{
    display: none;
  }
  
  /* 3. language-block */
  
  .language_item {
    width: 50%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
  }
  
  /* 7. Team */
  
  .team__img {
    max-height: 330px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  /* 5. Trial */
  
  .trial__block-heading {
    font-size: 50px;
    padding: 105px 51px 10px 1px;
    padding-top: 105px;
    margin-bottom: 10px;
  }
  .trial__block-img {
    height: 35%;
  }
  
  /* Programs */
  
  .panel__block {
    width: 100%;
    min-height: 200px;
    padding: 60px 60px;
  }
  
  .quests__tabs-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* justify-content: center; */
  }
  
  .footer__modal-description {
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #fb6402;
  }
  .footer__form-block {
    width: 100%;
    padding-top: 30px;
  }
  }
  @media(max-width:760px){
  
  /* 2. hero-block */
  
  .hero__block {
    position: absolute;
    top: 90px;
    left: 63px;
    z-index: 1;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    background: rgb(51 40 54 / 50%);
  }
  
   /* POPUP */
  
   .header__modal-head {
    margin-bottom: 5px;
    font-size: 30px;
  }
  .header__close-svg{
    width: 70%;
  }
  .header__popup {
    position: relative;
    padding: 25px 59px 0px;
    width: 77.9%;
    height: 690px;
    top: 80px;
    left: 12.8%;
    z-index: 1000;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #121723;
    border-radius: 0px;
    border: none;
    z-index: 100;
  }
  .header__form {
    margin-bottom: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 29px;
    border-bottom: 1px solid rgb(251 100 2);
  }
  .header__modal-description {
    margin-bottom: 28px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
  }
  .header__submit {
    width: 70%;
    height: 68px;
    border-radius: 36px;
    background-color: #fb6402;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
  }
  .header__input-form {
    position: relative;
    margin-bottom: 30px;
    margin-right: 27px;
    padding: 1px 1px 1px 29px;
    width: 100%;
    height: 50px;
    border: 1px solid #fb6402;
    border-radius: 40px;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #A1A6B4;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  /* Trial */
  
  .trial__block-heading {
    font-size: 28px;
    padding: 105px 51px 10px 1px;
    padding-top: 105px;
    margin-bottom: 10px;
  }
  
  /* Learn */
  
  
  .tabs__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .tabs__img {
    margin-bottom: 20px;
    width: 100%;
  }
  .tabs__news {
    width: 100%;
  }
  
  .tabs__heading-news{
    font-size: 20px;
    padding: 0px 20px;  
  }
  .tabs__text{
    font-size: 12px;
    padding: 20px 20px;  
  }
  /* 7. Team */
  
  .team__img {
    max-height: 500px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .footer__modal-description {
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #fb6402;
  }
  }
  @media(max-width:575px){
  
  .container{
    max-width: 90%;
  }
  
  /* POPUP */
  
  .header__modal-head {
    margin-bottom: 5px;
    font-size: 27px;
  }
  .header__close-svg{
    width: 70%;
  }
   .header__popup {
    position: relative;
    padding: 25px 25px 0px;
    width: 77.9%;
    height: 690px;
    top: 80px;
    left: 12.8%;
    z-index: 1000;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #121723;
    border-radius: 0px;
    border: none;
    z-index: 100;
  }
  .header__form {
    margin-bottom: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 29px;
    border-bottom: 1px solid rgb(251 100 2);
  }
  .header__modal-description {
    margin-bottom: 28px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
  }
  .header__submit {
    width: 70%;
    height: 68px;
    border-radius: 36px;
    background-color: #fb6402;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
  }
  .header__input-form {
    position: relative;
    margin-bottom: 30px;
    margin-right: 27px;
    padding: 1px 1px 1px 29px;
    width: 100%;
    height: 50px;
    border: 1px solid #fb6402;
    border-radius: 40px;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #A1A6B4;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  /* 2. hero-block */
  .hero {
    
  }
  .hero__block {
    max-width: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 1;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-radius: 30px;
    background: rgb(51 40 54 / 50%);
  }
  .hero__heading {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  .hero__text {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 100;
  }
  .slider__control{
    display: none;
  }
  
  /* 3. language-block */
  
  .language_item {
    width: 25%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
  }
  
  .flag {
    width: 70px;
    margin: 0 auto;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  
  /* 4. learn-block */
  
  .learn__block-step {
    margin-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 20px;
    text-align: center;
    width: 100%;
    border: 1px solid #fe6702;
    border-radius: 15px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .tabs__btn {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: black;
    text-align: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 30px;
    font-size: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .learn__block-step:nth-child(3) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  
  /* 5. Trial */
  
  .trial__group {
    padding: 0px 0 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trial__block {
    padding: 20px 20px;
    text-align: center;
  }
  .trial__block-heading {
    font-size: 50px;
    padding: 49px 1px 10px 1px;
    margin-bottom: 10px;
  }
  
  /* 7. Team */
  
  .team__img {
    max-height: 590px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .swiper {
    margin: 0 auto;
    max-width: 100%;
    max-height: 900px;
  }
  
  /* 8. programs-block */
  
  .programs__column {
    width: 100%;
  }
  .programs__column:nth-child(3) {
    margin-bottom: 30px;
  }
  
  /* 9. cost-block */
  
  .cost__column {
    padding: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    border: 1px solid #fe6702;
    border-radius: 15px;
  }
  #map {
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0;
  }
  .footer__modal-description {
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #fb6402;
  }
  }
  @media(max-width:475px){
  
  /* 1. Header */
  
  .header {
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 0px;
    background: transparent;
    min-height: auto;
    border-bottom: none;
    padding: 10px 10px 10px 10px;
    min-height: 40px;
    background: rgb(51 40 54 / 50%);
  }
  .header__logo-img{
    width: 100%;
  }
  .header__logo-img img{
    width: 100%;
  }
  .header__menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 10px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  
  /* POPUP */
  .header__close-svg{
    width: 70%;
  }
  .header__modal-head {
    margin-bottom: 5px;
    font-size: 25px;
  }
   .header__popup {
    padding: 15px 15px 0px;
    width: 90.9%;
    top: 80px;
    left: 4.8%;
    z-index: 1000;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #121723;
    border-radius: 0px;
    border: none;
    z-index: 100;
  }
  .header__form {
    margin-bottom: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 29px;
    border-bottom: 1px solid rgb(251 100 2);
  }
  .header__modal-description {
    margin-bottom: 28px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
  }
  .header__submit {
    width: 53%;
    height: 41px;
    border-radius: 36px;
    background-color: #fb6402;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
  }
  .header__input-form {
    position: relative;
    margin-bottom: 30px;
    margin-right: 27px;
    padding: 1px 1px 1px 29px;
    width: 100%;
    height: 50px;
    border: 1px solid #fb6402;
    border-radius: 40px;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #A1A6B4;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header__modal-text {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
  }
  
  
  /* 2. hero-block */
  
  .hero__text{
    font-size: 10px;
  }
  .hero__btn{
    display: none;
  }
  .hero__btn1{
    display: block;
    padding: 5px 5px;
    width: 100px;
    background-color: #fe6702;
  }
  .hero__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 1;
    padding: 3px 3px 10px 3px;
    text-align: center;
    border-radius: 30px;
  }
  .hero__heading {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }
  .hero {
    min-height: 180px;
  }
  .swiper-button-next, .swiper-button-prev{
    top: 15%;
  }
  .language_slider_container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
  
  /* 3. language-block */
  
  .language_item {
    width: 25%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
  }
  .flag img {
    max-width: 100%;
  }
  .flag {
    width: 30px;
    margin: 0 auto;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .lang_name {
    font-size: 11px;
    font-weight: 600;
    color: rgba(0,0,0,0.4);
    margin-top: 2px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  
  /* 4. learn-block */
  
  .learn__block-heading {
    margin-bottom: 50px;
    font-size: 33px;
    padding: 30px 55px 10px 1px;
  }
  
  /* 5. Trial */
  
  .trial__block-img {
    height: 15%;
  }
  .trial__block-heading {
    font-size: 30px;
    padding: 49px 1px 10px 1px;
    margin-bottom: 10px;
  }
  .trial__block-img {
    display: none;
  }
  
  /* 7. Team */
  
  .team__heading {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  /* 8. programs-block */
  
  .programs__heading {
    font-size: 30px;
    padding: 26px 7px 10px 1px;
    margin-bottom: 50px;
  }
  .cost__heading {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  /* 9. cost-block */
  
  .cost__block {
    padding: 40px 0;
  }
  .heading {
    font-size: 25px;
  }
  .footer__modal-description {
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #fb6402;
  }
  .footer__modal-text{
    color: #fb6402;
}
  
  }